body{
    background-color: #640D6B;
}
h1{
    color: white;
    font-size: 100px;
    text-align: center;
}
h2{
    color: white;
    font-size: 50px;
    text-align: center;
}
.first-div{
    margin-left: 80px;
}
.second-div{
    margin-left: 380px;
}
.third-div{
    margin-left: 680px;
}
#first-div{
    height: 200px;
    width: 200px;
    background-color: #B51B75;
    padding: 10px;
    border: 10px solid ghostwhite;
    color: white;
}
#second-div{
    height: 200px;
    width: 200px;
    background-color: #E65C19;
    padding: 10px;
    border: 10px solid ghostwhite;
    color: white;
    margin-left: 300px;
}
#third-div{
    height: 200px;
    width: 200px;
    background-color: #F8D082;
    padding: 10px;
    border: 10px solid ghostwhite;
    color: white;
    margin-left: 600px;
}